@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply bg-white dark:bg-slate-950 text-slate-950 dark:text-white transition-colors duration-300;
}

html {
  scroll-behavior: smooth;
}
